USE [u_smarek]
GO
/****** Object:  View [dbo].[IndividualDiscountsView]    Script Date: 25.03.2021 12:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IndividualDiscountsView]
AS
SELECT dbo.IndividualCustomers.CustomerID, dbo.IndividualDiscountHist.DiscountID, dbo.PermIndividualDiscounts.Discount, dbo.TempIndividualDiscounts.Discount AS Expr1
FROM   dbo.IndividualCustomers INNER JOIN
          dbo.IndividualDiscountHist ON dbo.IndividualCustomers.CustomerID = dbo.IndividualDiscountHist.CustomerID INNER JOIN
          dbo.PermIndividualDiscounts ON dbo.IndividualDiscountHist.DiscountID = dbo.PermIndividualDiscounts.DiscountID INNER JOIN
          dbo.TempIndividualDiscounts ON dbo.IndividualDiscountHist.DiscountID = dbo.TempIndividualDiscounts.DiscountID
GROUP BY dbo.IndividualCustomers.CustomerID, dbo.IndividualDiscountHist.DiscountID, dbo.PermIndividualDiscounts.Discount, dbo.TempIndividualDiscounts.Discount
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "IndividualCustomers"
            Begin Extent = 
               Top = 12
               Left = 76
               Bottom = 284
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IndividualDiscountHist"
            Begin Extent = 
               Top = 17
               Left = 614
               Bottom = 289
               Right = 906
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PermIndividualDiscounts"
            Begin Extent = 
               Top = 227
               Left = 299
               Bottom = 499
               Right = 591
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TempIndividualDiscounts"
            Begin Extent = 
               Top = 119
               Left = 1093
               Bottom = 391
               Right = 1385
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IndividualDiscountsView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IndividualDiscountsView'
GO
