USE [u_smarek]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 25.03.2021 12:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[AdministratorID] [int] NOT NULL
) ON [PRIMARY]
GO
